body {
    display: block;
}

.box {
    border: 2px solid black;
    background: #888;
    margin: 1px;
    border-radius: 10%;
}

.row {
    font-size: 0;
    display: inline-flex;
}

h1, h2, h3, h4, button, label {
    font-family: sans-serif;
}

.menu-icon-box {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 10px 40px;
    border-radius: 10%;
    border: 2px solid black;
    background: #888;
    margin-left: 20px;
}

.menu-icon-box:last-child {
    float: right;
    margin-right: 20px;
}

.menu-icon-box:hover:not(.active){
    background: #666;
}

.active {
    background: #444;
}

#menu {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 20px;
    border: #444444 2px solid;
    border-radius: 5%;
    background: #76adf2;

}

#menu-button {
    background: #006bff;
    height: 70px;
    width: 200px;
    border-radius: 10px;
    font-size: 40pt;
    margin: auto;
    display: block;
    border: #bbb 2px solid;
}

#menu-button:hover {
    background: #004bff;
}

h1, h4{
    color: #000;
    display: block;
    margin: 20px auto;
    text-align: center;
}

.params-block {
    margin: 20px auto;
}

input {
    margin: 0px 50px 0px auto;
    float: right;
    display: block;
    height: 17px;
    width: 50px;

}


label {
    display: block;
    margin: 20px auto 10px 50px;
}

.hidden {
    display: none !important;
}

#navigation {
    position: absolute;
    display: block;
    right: 50px;
    top: 50px;
    border: #444444 solid 2px;
    border-radius: 5%;
    padding: 10px;
    background: #deff7c;
}

#navigation h3,h2 {
    margin: 5px auto;
    display: block;
    text-align: center;
}

#navigation button {
    background: #57ce39;
    height: 35px;
    width: 70px;
    border-radius: 4px;
    margin: auto;
    display: inline-block;
    border: #333333 2px solid;
    color: black;
}

#navigation button:hover {
    background: #45a52c;
}
b:first-child{
    color: red;
}
b:last-child {
    color: green;
}

.image {
    display: block;
    height: 100% !important;
    width: 100% !important;
}

.panel-down:not(.hidden) {
    position: static !important;
    display: block !important;
    bottom: 20px !important;
    width: 300px !important;
}

.panel-down h1,button{
    display: inline-block;
    margin: 10px 25px;
}

